/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.wrapper {
  background: radial-gradient(rgb(255, 255, 255) 50%, rgb(0, 0, 0));
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content:center;align-items: center;
}
.clock{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(rgb(255, 255, 255),rgb(80, 80, 80));
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.719),
                    0px 0px 20px 15px rgba(0, 0, 0, 0.719);
  display: flex;
  justify-content:center;align-items: center;
  position: relative;
}
@media (max-width:520px){
  .clock{
    width: 300px;
    height: 300px;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.719),
    0px 0px 20px 10px rgba(0, 0, 0, 0.719);
  }
}
.clock__foto{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url("../img/FRIENDS.jpg") center / cover no-repeat;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.719),
              inset 0px 0px 5px 5px rgba(0, 0, 0, 0.719);
  display: flex;
  justify-content:center;align-items: center;
}
@media (max-width:520px){
  .clock__foto{
    width: 150px;
    height: 150px;
  }
}
.clock__dot{
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px 3px rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
  z-index: 20;
}
@media (max-width:520px){
  .clock__dot{
    width: 15px;
    height: 15px;
  }
}
.ctr{
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background: rgb(10, 10, 44);
}
.ctr__hour {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  transform-origin:50% 100%;
  width: 18px;
  height: 150px;
}
@media (max-width:520px){
  .ctr__hour {
    width: 13px;
    height: 100px;
  }
}
.ctr__min {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  transform-origin:50% 100%;
  width: 13px;
  height: 200px;
}
@media (max-width:520px){
  .ctr__min {
    width: 10px;
    height: 120px;
  }
}
.ctr__min .ctr{
  background: rgb(70, 70, 70);
}
.ctr__sec {
  position: absolute;
  z-index: 3;
  bottom: 50%;
  transform-origin:50% 100%;
  width: 5px;
  height: 230px;
}
@media (max-width:520px){
  .ctr__sec {
    width: 3px;
    height: 130px;
  }
}
.ctr__sec .ctr{
  background: rgb(85, 42, 31);
}

.clock__hour {
  position: absolute;
  top: 5px;
  left: 43%;
  width: 5px;
  border-radius: 10px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
@media (max-width:520px){
  .clock__hour {
    top: 5px;
    left: 45%;
    width: 3px;
    font-size: 30px;
  }
}
.h-s{
  height: 30px;
  background: rgb(0, 0, 0);
}
@media (max-width:520px){
  .h-s{
    height: 20px;
  }
}
.h-1 {
  top: 8%;
  left: 71.8%;
  transform: rotate(30deg);
}
@media (max-width:520px){
  .h-1 {
    top: 8%;
    left: 72%;
  }
}

.h-2 {
  top: 24.5%;
  left: 88.5%;
  transform: rotate(60deg);
}
@media (max-width:520px){
  .h-2 {
    top: 24.5%;
    left: 88%;
  }
}

.h-3 {
  top: 43.8%;
  left: 92%;
}
@media (max-width:520px){
  .h-3 {
    top: 44.5%;
    left: 92.5%;
  }
}

.h-4 {
  top: 69.5%;
  left: 88.5%;
  transform: rotate(120deg);
}
@media (max-width:520px){
  .h-4 {
    top: 69.5%;
    left: 88.5%;
  }
}

.h-5 {
  top: 86%;
  left: 72%;
  transform: rotate(150deg);
}
@media (max-width:520px){
  .h-5 {
    top: 85.8%;
    left: 71.9%;
  }
}

.h-6 {
  top: 87.8%;
  left: 47%;
}
@media (max-width:520px){
  .h-6 {
    top: 88.8%;
    left: 47.5%;
  }
}

.h-7 {
  top: 86%;
  left: 27%;
  transform: rotate(210deg);
}
@media (max-width:520px){
  .h-7 {
    top: 85.5%;
    left: 27%;
  }
}

.h-8 {
  top: 69.5%;
  left: 10%;
  transform: rotate(240deg);
}
@media (max-width:520px){
  .h-8 {
    top: 69%;
    left: 11%;
  }
}

.h-9 {
  top: 44.5%;
  left: 3%;
}
@media (max-width:520px){
  .h-9 {
    top: 44.5%;
    left: 3%;
  }
}

.h-10 {
  top: 24.5%;
  left: 10.5%;
  transform: rotate(300deg);
}
@media (max-width:520px){
  .h-10 {
    top: 24.7%;
    left: 10.8%;
  }
}
.h-11 {
  top: 7.9%;
  left: 27%;
  transform: rotate(330deg);
}
@media (max-width:520px){
  .h-11 {
    top: 7.9%;
    left: 27%;
  }
}
.h-12 {
}
